<!-- 

    The starter code for this will be copied over by typing it out directly, 
    in order to more fully think about everything that is in it.

    Any additions of functionality will be tried first before seeing how the instructor does it,
    But after having read the Vue documentation about each topic.

    The process went well overall and I was able to generally make the app based on guessing what to do
    between having read the documentation and seeing what the instructor said the next step would be about.

    I got stuck on a few minor details and worked out the ways to fix them by checking what the instructor did
    and adjusting mine.

    I attempted to make localStorage work by using its setItem and getItem methods, 
    but didn't know, until the instructor showed it, that it needed JSON.stringify and JSON.parse used as well

    This example was run through very quickly so I will want to make a rewrite of this from memory to enhance learning.
    
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task List - Vue 3.4</title>

    <link
      rel="stylesheet"
      href="https://www.unpkg.com/normalize.css/normalize.css"
    />
    <script src="https://www.unpkg.com/vue@3.4.0"></script>

    <style>
      body {
        font-family: "Arial", "sans-serif";
        padding: 20px;
        font-size: 16px;
        background-color: #f4f4f9;
      }

      .task {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 10px 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        border-left: 5px solid;
      }

      .high {
        border-color: red;
      }

      .medium {
        border-color: orange;
      }

      .low {
        border-color: green;
      }

      .completed {
        text-decoration: line-through;
        color: #bbbbbb;
      }

      .remove-button {
        color: red;
        cursor: pointer;
        border: none;
        background: none;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- Form for adding tasks -->
      <form @submit.prevent="addTask">
        <input
          type="text"
          ref="inputTextBox"
          v-model="taskText"
          placeholder="Enter a task..."
        />
        <select v-model="priorityText">
          <option disabled value="">Select priority</option>
          <option>High</option>
          <option>Medium</option>
          <option>Low</option>
        </select>
        <button>Add Task</button>
      </form>

      <!-- Task filtering -->
      <input type="text" v-model="filterText" placeholder="Filter tasks..." />

      <!-- If there are no tasks -->
      <div v-if="tasks.length === 0">
        <p>No tasks to show. Try adding tasks or changing the filter.</p>
      </div>

      <!-- Task displaying -->
      <div v-else>
        <h3>Your Tasks:</h3>
        <!-- This is a list of tasks -->
        <div>
          <div
            class="task"
            :class="{
            [task.priority.toLowerCase()]: true,
            }"
            v-for="(task, index) in tasks"
            :key="task.id"
          >
            <!-- Is task done? -->
            <!-- <input type="checkbox" :checked="task.isDone" /> -->
            <!-- I think using v-model makes it bidirectional so that checking it will change the ref value -->
            <input type="checkbox" v-model="task.isDone" />
            <!-- Task description -->
            <span :class="{completed: task.isDone}">{{task.description}}</span>
            <!-- remove button -->
            <button class="remove-button" @click="removeTask(index)">X</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      const { createApp, ref, onMounted, watch } = Vue;
      App = {
        setup() {
          //getting a template ref in the style of Vue 3.4, but this changes in 3.5 to something else
          const inputTextBox = ref(null);
          const taskText = ref("");
          //making priorityText default to null made the select box not work properly, but setting it to '' did work
          //which means that the 'Select priority' default text began to appear properly
          const priorityText = ref("");

          const tasks = ref(JSON.parse(localStorage.getItem("tasklist") ?? '[]'));

          //   tasks.value.push({ isDone: false, description: "this task" });

          watch(
            tasks,
            () => {
              console.log("saving tasks to localstorage");
              localStorage.setItem("tasklist", JSON.stringify(tasks.value));
              // console.log(localStorage.getItem('tasklist'));
            },
            //using the deep watch option will make it respond to any time a property in any of the task list changes
            //this is ok to use here because the task list will not become large enough to have performance slowdowns
            { deep: true }
          );

          onMounted(() => {

            // temporarily disabling this because it even takes focus out of the text editor while making the app
            // inputTextBox.value.focus();

            // tasks.value = JSON.parse(localStorage.getItem('tasklist'));
            //it turns out that onMounted wasn't needed for loading the values, because the localStorage
            //is available at the time during which the tasks ref is made, so it can be accessed there instead
          });

          const addTask = () => {
            if (taskText.value === "" || priorityText.value === "") return;

            const newTask = {
              id: tasks.value.length + 1,
              isDone: false,
              //the instructor used a ref with v-model in the inputText box to get the value,
              //but using the Template Ref with value.value can also access it albeit in a worse looking way
              //description: inputTextBox.value.value,
              description: taskText.value,
              priority: priorityText.value,
            };

            taskText.value = "";
            priorityText.value = "";
            inputTextBox.value.focus();

            //trying to set the priority with the select box's value is not working as initially expected
            // console.log('value', priorityBox.value);

            //the reason it wasn't working was because I needed to use v-model to connect to the select element,
            //not a template ref which is what I was originally trying to do with it

            // tasks.value.push(newTask);
            //unshift will put the new tasks at the top of the list
            tasks.value.unshift(newTask);
          };

          const removeTask = (index) => {
            tasks.value.splice(index, 1);
          };

          return {
            inputTextBox,
            taskText,
            priorityText,
            tasks,
            addTask,
            removeTask,
          };
        },
      };
      createApp(App).mount("#app");
    </script>
  </body>
</html>
